button.change {
    font-size: 24px;
    margin-bottom: 20px;
}

footer#foot {
    margin-bottom: 20px;
}

.redColor {
    color: red;
}

.whiteColor {
    color: white;
}

.boldStyle {
    font-weight: bold;
}
.no-scroll {
    overflow: hidden;
    background-color: aqua;

}